* {
  margin: 0;
  padding: 0;
  font-family: 'poppins', sans-serif;
  box-sizing: border-box;
}

body {
  background: #2f62af;
}

.container {
  width: 400px;
  padding: 25px 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
  background-color: #fff;
}

.container p {
  font-weight: 600;
  font-size: 20px;
  margin-bottom: 8px;
  text-align: center;
}

.container input {
  border-radius: 5px;
  border: 1px, solid black;
  outline: 0;
  width: 100%;
  height: 50px;
  margin: 10px, 0 2px;
  padding: 10px;
  margin-bottom: 8px;
}

.container button {
  width: 100%;
  height: 50px;
  background: #494eea;
  border: 0;
  color: #fff;
  border-radius: 10px;
  box-shadow: 0 10px 10px rgb(0, 0, 0, 0.1);
  font-weight: 600;
  cursor: pointer;
}

#imgbox {
  width: 200px;
  border-radius: 5px;
  transition: max-height 1s;
  overflow: hidden;
}

#qrimage {
  width: 100%;
  padding-top: 10px;
}

#imgbox.show-image {
  max-height: 300px;
  border: 1px solid #d1d1d1;
  margin: 10px auto;
}

.error {
  animation: shake 0.1s linear 10;
}

@keyframes shake {
  0% {
    transform: translate(0);
  }

  25% {
    transform: translate(-2px);
  }

  50% {
    transform: translate(0);
  }

  75% {
    transform: translate(2px);
  }

  100% {
    transform: translate(0);
  }
}